@model IEnumerable<Model.OrganizationSchemaModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="pl-3">List of Organization Schema </h2>
<div class="border-top border-dark my-1"></div>
<p class="pl-5 pt-2">
    @Html.ActionLink("Add New", "Save", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th class="d-none">
            @Html.DisplayNameFor(model => model.SchemaObjectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchemaObjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchemaObjectValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th colspan="2">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="d-none">
                @Html.DisplayFor(modelItem => item.SchemaObjectID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchemaObjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchemaObjectValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SchemaObjectID }, new { @class = "btn btn-success" })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.SchemaObjectID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
