@model IEnumerable<Model.OccupationModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="pl-3">List of Occuption </h2>
<div class="border-top border-dark my-1"></div>
<p class="pl-5 pt-2">
    @Html.ActionLink("Add New", "Save", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th class="d-none">
            @Html.DisplayNameFor(model => model.OccupationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccupationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th colspan="2">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td class="d-none">
            @Html.DisplayFor(modelItem => item.OccupationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccupationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OccupationID }, new { @class = "btn btn-success" })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.OccupationID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
    }

</table>
