@model IEnumerable<Model.BranchModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="pl-3">List of Branch </h2>
<div class="border-top border-dark my-1"></div>
<p class="pl-5 pt-2">
    @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th class="d-none">
            @Html.DisplayNameFor(model => model.BranchID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchDistrict)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchProvinceState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchEmail)
        </th>
        <th class="d-none">
            @Html.DisplayNameFor(model => model.OrganizationLevelID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationLevelName)
        </th>
        <th colspan="2">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td class="d-none">
            @Html.DisplayFor(modelItem => item.BranchID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchDistrict)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchProvinceState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchEmail)
        </td>
        <td class="d-none">
            @Html.DisplayFor(modelItem => item.OrganizationLevelID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationLevelName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BranchID }, new { @class = "btn btn-success" })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.BranchID }, new { @class = "btn btn-danger" })
        </td>
        
    </tr>
    }

</table>
